.add-video {
  &__inner {
    position: relative;

    display: flex;
    flex-flow: column nowrap;

    flex: 1;
  }

  &__header {
    display: flex;
    flex-flow: column nowrap;

    padding: 32px 32px 16px;
  }

  &__url {
    position: relative;

    margin-bottom: 16px;

    & > .input {
      width: 100%;
    }
  }

  &__time {
    @extend %row;

    justify-content: space-between;
    align-items: center;

    margin-top: 11px;

    & > :not(:last-child) {
      margin-right: 16px;
    }
  }

  &__enable-start,
  &__enable-end {
    @extend %row;

    align-items: center;

    & > :not(:last-child) {
      margin-right: 16px;
    }

    input:not(:checked) ~ span {
      opacity: 0.5;
    }
  }

  &__start,
  &__end {
    border-radius: 8px;

    width: 78px;
    height: 30px;

    padding: 0;

    text-align: center;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;

    background: $gray-15;

    min-height: 126px;
  }

  &__placeholder {
    background: url('/images/add-video-placeholder.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    width: 351px;
    height: 78px;
  }

  &__error {
    position: relative;

    width: 327px;
    height: 79px;

    padding: 15px 0 14px 92px;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      background: url('/images/add-video-error.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;

      width: 73px;
      height: 79px;

      display: block;
    }
  }

  &__error-title {
    margin-bottom: 8px;

    font-size: 18px;
    font-weight: normal;
  }

  &__error-text {
    font-size: 16px;
    font-weight: normal;
  }

  &__info {
    @extend %row;

    width: 100%;
    height: 100%;

    padding: 16px 32px 16px;
  }

  &__info-thumbnail {
    margin-right: 16px;

    height: 94px;
    width: auto;
  }

  &__info-main {
    flex: 1;
  }

  &__info-title {
    margin-bottom: 8px;

    font-size: 18px;
    font-weight: normal;
  }

  &__info-author {
    font-size: 14px;
    font-weight: normal;
  }

  &__episodes-title {
    padding: 16px 32px;

    font-size: 16px;
    font-weight: normal;
  }

  &__episodes-all-field {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__episodes-all-label {
    margin-left: 16px;
  }

  &__episodes-list {
    background: $gray-15;

    overflow-y: auto;
    max-height: 350px;

    scrollbar-color: #DFDFDF #3F3F3F;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: #3F3F3F;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #DFDFDF;
    }
  }

  &__episodes-item {
    &:first-child {
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 8px;
    }
  }

  &__episodes-field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: 4px 77px;

    font-size: 16px;
    font-weight: normal;

    &:hover {
      background: $gray-18;
    }
  }

  &__episodes-label {
    margin-left: 16px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 102px;

    & > :not(:last-child) {
      margin-right: 32px;
    }
  }

  &__submit,
  &__cancel {
    border: 2px solid #E3833D;
    border-radius: 19px;

    font-size: 16px;
    font-weight: normal;

    width: 144px;
    height: 38px;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;

    background: url('/images/close-small.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    border-radius: 50%;

    width: 20px;
    height: 20px;

    user-select: none;
  }
}
