.create-room {
  .input {
    color: #FFFFFF;

    font-weight: normal;

    width: 100%;
  }

  &__inner {
    @extend %row;

    flex: 1;
  }

  &__left {
    @extend %col-50;

    display: flex;
    flex-flow: column nowrap;

    border-right: 1px solid #3F3F3F;

    padding: 20px 0 10px;
  }

  &__title {
    font-size: 24px;
    font-weight: normal;

    margin-bottom: 16px;
  }

  &__name {
    position: relative;

    display: block;

    margin-bottom: 32px;
    width: 481px;
  }

  &__playlist {
    flex: 1;

    margin-bottom: 18px;
  }

  &__playlist-item {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin-bottom: 24px;
    width: 100%;
  }

  &__playlist-link {
    position: relative;

    width: 481px;
  }

  &__playlist-add {
    background: url('/images/add.svg');
    background-position: center;
    background-repeat: no-repeat;

    border: 0;
    border-radius: 50%;

    width: 37px;
    height: 37px;

    cursor: pointer;
    outline: none;
  }

  &__playlist-edit {
    background: url('/images/edit.svg');
    background-position: center;
    background-repeat: no-repeat;

    border: 0;

    margin-left: 33px;
    width: 22px;
    height: 22px;

    cursor: pointer;
    outline: none;
  }

  &__playlist-handle {
    background: url('/images/handle.svg');
    background-position: center;
    background-repeat: no-repeat;

    border: 0;

    margin-left: 16px;
    width: 30px;
    height: 20px;

    cursor: pointer;
  }

  &__buttons {
    user-select: none;

    & > :not(:last-child) {
      margin-right: 32px;
    }
  }

  &__submit,
  &__cancel {
    @extend %button, %button_large, %button_animated;

    border-width: 1px;

    width: 194px;
    padding: 0;
  }

  &__right {
    @extend %col-50;

    border-left: 1px solid #3F3F3F;

    padding: 20px 0 0 78px;
  }

  &__url {
    position: relative;

    width: 481px;
  }

  &__label {
    font-size: 16px;
    font-weight: normal;

    margin-bottom: 16px;
  }
}
