.create-room-cta {
  &__inner {
    @extend %container, %row;

    align-items: center;

    height: 543px;
  }

  &__left {
    @extend %col-40;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;

    margin-bottom: 32px;
  }

  &__text {
    font-size: 25px;

    margin-bottom: 48px;
  }

  &__submit {
    @extend %button, %button_primary, %button_large;

    border-radius: 62px;

    height: 123px;
    padding: 0 116px;

    font-size: 24px;
    font-weight: bold;
  }

  &__right {
    @extend %col-60;

    position: relative;

    height: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
    user-select: none;
  }
}
