.room-playlist {
  &__title {
    font-size: 30px;
    font-weight: 500;

    margin: 8px 0 54px 24px;
  }

  &__item {
    @extend %row;

    align-items: center;

    background: $gray-15;
    border-radius: 5px;

    height: 74px;

    padding: 0 24px;

    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__add {
    @extend %button, %button_animated;

    position: relative;

    float: right;

    border-radius: 19px;

    margin-top: 3px;

    width: 200px;
    height: 38px;

    padding: 0;

    font-size: 16px;
    font-weight: normal;
  }
}
