.room-video {
  &__inner {
    @extend %row;
  }

  &__main {
    flex: 0 0 854px;

    margin-right: 16px;
  }

  &__player {
    position: relative;

    margin-bottom: 32px;

    width: 854px;
    height: 480px;

    background: $gray-15;
    border-radius: 3px;

    overflow: hidden;
  }

  &__video {
    width: 100%;
    height: 100%;

    pointer-events: none;
    user-select: none;
  }

  &__play {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background: url('/images/player-play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    border: 0;
    border-radius: 50%;

    width: 150px;
    height: 150px;

    padding: 0;

    cursor: pointer;
  }

  &__info {
    @extend %row;
  }

  &__avatar {
    position: relative;

    background: #9631CD;
    border-radius: 5px;

    margin: 6px 10px 0 6px;

    width: 72px;
    height: 72px;

    pointer-events: none;
    user-select: none;
  }

  &__avatar-image {
    position: absolute;
    top: -6px;
    left: -6px;

    display: block;

    background: #C4C4C4;
    border-radius: 5px;

    width: 72px;
    height: 72px;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;

    &:not(:empty) {
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    @extend %row;

    align-items: start;

    font-size: 25px;
    font-weight: 500;
  }

  &__room-name {
    &::before {
      content: '//';

      margin: 0 0.25em;
    }
  }

  &__chat {
    flex: 1;

    background: $gray-15;
    border-radius: 5px;
  }
}
