%button,
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  border: 2px solid #E3833E;
  border-radius: 20px;

  height: 46px;
  padding: 0 40px;

  font-size: 20px;
  font-weight: normal;

  outline: none;
  cursor: pointer;
  user-select: none;

  &_large {
    border-radius: 50px;

    height: 88px;
    padding: 0 65px;

    font-size: 16px;
  }

  &_animated {
    position: relative;

    overflow: hidden;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: block;

      background: linear-gradient(186deg, #E3833E 28%, #942FD1 100%);

      opacity: 0;
      transition: opacity 140ms ease-out;
    }

    & > span {
      z-index: 1;
    }

    &:hover {
      border: 0;

      &::after {
        opacity: 1;
      }
    }
  }
}
