.header {
  @extend %container-wrapper;

  margin-bottom: 32px;

  &__inner {
    @extend %container, %row;

    justify-content: space-between;
    align-items: center;

    height: 100px;
  }

  &__logo {
    font-size: 46px;
    font-weight: bold;

    user-select: none;
  }

  &__logo-link {
    display: flex;
    align-items: center;

    & > :not(:last-child) {
      margin-right: 10px;
    }
  }

  &__logo-image {
    height: 44px;
    width: auto;
  }

  &__buttons {
    user-select: none;

    & > :not(:last-child) {
      margin-right: 32px;
    }
  }

  &__button {
    @extend %button;

    font-size: 20px;
    font-weight: bold;
  }
}
