.about {
  &__title {
    font-size: 24px;
    font-weight: normal;

    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__button {
    @extend %button, %button_animated;

    border-radius: 27px;

    font-size: 24px;
    font-weight: 500;

    height: 54px;
    width: 174px;
  }
}
