.bottom-cta {
  &__title {
    font-size: 40px;
    font-weight: 500;

    margin-bottom: 64px;
  }

  &__buttons {
    position: relative;

    user-select: none;
  }

  &__list,
  &__create {
    @extend %button, %button_large, %button_secondary;

    position: relative;

    background: $gray-15;

    border-width: 2px;
    border-radius: 60px;

    font-size: 24px;
    font-weight: bold;

    width: 370px;
    height: 100px;
    padding: 0;

    overflow: hidden;

    z-index: 1;

    &:not(:last-of-type) {
      margin-right: 32px;
    }

    &::after {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: block;

      background: linear-gradient(186.24deg, #E3833E 27.59%, #942FD1 100.68%);

      opacity: 0;
      transition: opacity 75ms ease-out;
    }

    & > span {
      z-index: 1;
    }

    &:hover {
      border: 0;

      &::after {
        opacity: 1;
      }
    }
  }

  &__d-1 {
    position: absolute;
    top: -39px;
    left: -42px;
    transition: top 75ms ease-out, left 75ms ease-out;

    background-image: url('/images/bottom-cta-d-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    width: 104px;
    height: 113px;
  }

  &__list:hover ~ &__d-1 {
    top: -49px;
    left: -52px;
  }

  &__d-2 {
    position: absolute;
    top: -103px;
    right: -96px;
    transition: top 75ms ease-out, right 75ms ease-out;

    background-image: url('/images/bottom-cta-d-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    width: 161px;
    height: 175px;
  }

  &__create:hover ~ &__d-2 {
    top: -113px;
    right: -106px;
  }
}
