.footer {
  &__inner {
    @extend %container, %row;

    justify-content: space-between;
    align-items: center;

    height: 88px;
  }

  &__left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__left-image {
    margin-right: 16px;

    height: 36px;
    width: auto;

    pointer-events: none;
    user-select: none;
  }

  &__center {
    & > :not(:last-child) {
      margin-right: 16px;
    }
  }

  &__right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__right-image {
    margin-right: 16px;

    height: 36px;
    width: auto;

    pointer-events: none;
    user-select: none;
  }
}
