.header {
  &__inner {
    @extend %container, %row;

    justify-content: space-between;
    align-items: center;

    height: 100px;
  }

  &__logo {
    display: block;
  }

  &__logo-image {
    display: block;

    height: 36px;
    width: auto;

    user-select: none;
  }

  &__center {
    & > :not(:last-child) {
      margin-right: 80px;
    }
  }

  &__link {
    font-weight: bold;
  }

  &__right {
    user-select: none;

    & > :not(:last-child) {
      margin-right: 32px;
    }
  }

  &__button {
    @extend %button;

    height: 36px;
    padding: 0 24px;

    font-size: 16px;
    font-weight: bold;
  }
}
