.info {
  &__inner {
    @extend %container;

    background: url('/images/info.svg');
    background-position: center;
    background-repeat: no-repeat;

    padding: 105px 0 150px;
  }

  &__title {
    text-align: center;

    font-size: 40px;
    font-weight: 500;

    margin-bottom: 64px;
  }

  &__subtitle {
    text-align: center;

    font-size: 24px;
    font-weight: 500;
  }

  &__block-1,
  &__block-2,
  &__block-3,
  &__block-4 {
    @extend %block;

    position: relative;

    background: $gray-15;

    border-radius: 15px;

    margin: 0 auto;

    width: 580px;
    height: 388px;

    padding: 48px;

    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  &__block-1 &__list {
    margin: 54px 0 0 278px;
  }

  &__block-2 &__list {
    margin: 25px 0 0 44px;
  }

  &__block-3 &__list {
    margin: 35px 0 0 124px;
  }

  &__block-4 &__list {
    margin: 30px 0 0;
  }

  &__block-4 &__item {
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;

    color: #828282;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &::before {
      content: '';

      display: inline-block;

      border-radius: 3px;

      margin-right: 8px;

      width: 15px;
      height: 15px;
    }

    &_large {
      background: #292929;
      border-radius: 15px;

      width: 462px;
      height: 60px;

      padding: 0 16px;
    }

    &_large#{&}::before {
      margin-right: 16px;

      width: 27px;
      height: 27px;
    }

    &_circle#{&}::before {
      border-radius: 50%;
    }

    &_red#{&}::before {
      background: #EB5757;
    }

    &_orange#{&}::before {
      background: #F2994A;
    }

    &_blue#{&}::before {
      background: #56CCF2;
    }

    &_yellow#{&}::before {
      background: #F2C94C;
    }

    &_green#{&}::before {
      background: #27AE60;
    }

    &_violet#{&}::before {
      background: #BB6BD9;
    }
  }

  &__d-1,
  &__d-2,
  &__d-3,
  &__d-4 {
    position: absolute;

    pointer-events: none;
    user-select: none;
  }

  &__d-1 {
    left: -140px;
    bottom: -30px;
  }

  &__d-2 {
    right: -170px;
    bottom: -35px;
  }

  &__d-3 {
    left: -13px;
    bottom: -14px;
  }

  &__d-4 {
    right: -70px;
    bottom: -14px;
  }
}
