.add-video-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &__add-video {
    @extend %container, %block;

    max-width: 560px;
    padding: 0;
  }

  .add-video {
    &__main {
      border-left: 2px solid $gray-18;
      border-right: 2px solid $gray-18;
    }
  }
}
