.room {
  @extend %container;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  flex: 1;

  margin-bottom: 64px;

  &__inner {
    @extend %block;

    width: 100%;
    padding: 48px;
  }

  &__name {
    font-size: 25px;
    font-weight: 500;
  }
}
