.add-video-modal {
  @extend %modal;

  background: rgba(0, 0, 0, 0.4);

  cursor: pointer;

  overflow-y: auto;

  scrollbar-color: #DFDFDF #3F3F3F;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #3F3F3F;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #DFDFDF;
  }

  &__inner {
    @extend %block;

    width: 560px;

    padding: 0;

    cursor: initial;
  }
}
